<div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 5px">Found Items</h3>
             
            </div>
        </div>
    </div>
</div>
