<div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 5px;margin-bottom:20px">Login</h3>
                    <%= render 'form' %>
            </div>
        </div>
    </div>
</div>