<% provide(:title, @user.username) %>
<div class="row">
    <div class="col-md-12">
        <div class="box-text-big" style="padding-bottom: 0px">
            <h3 class="project-topic text-center" style="margin-top: 5px">- Profile -</h3>
        </div>
     </div>
</div>
<div class="row">
    <div class="col-md-6 text-right">
            <p>Name : </p>
    </div>
    <div class="col-md-6 text-left">
            <p><%= @user.username %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-right">
            <p>Telephone Number : </p>
    </div>
    <div class="col-md-6 text-left">
            <p><%= @user.tel_number %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-right">
            <p>Contact : </p>
    </div>
    <div class="col-md-6 text-left">
            <p><%= @user.contact %></p>
    </div>
</div>
            