.about-header {
    background-size: cover;
    background-color: white;
    background-position: top center;
    margin-top: -100px;
    min-height: 450px;
}
.about-header-image{
    background-image: url('https://sv1.picz.in.th/images/2018/11/20/3jpqqW.jpg');
}
body {
  margin: 0;
  font-size: 28px;
  background-color: #EEE;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.title-name{
  float: left;
  font-family: 'Quantico', sans-serif;
  font-size: 20px;
  padding: 12px 15px;
  margin-left: 40px;
  margin-bottom:0px;
}

#navbar {
  overflow: hidden;
  background-color: #f6f6f6;
  position: relative;
}

#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Quantico', sans-serif;
}

#navbar a:hover {
  background-color: #D9A380;
  color: #FFF9E0;
}

#navbar a.active {
  background-color: #C08485;
  color: #FFF9E0;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
    font-family: 'Quantico', sans-serif;
}
.footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.card {
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(117,117,117,.25);
    padding: 20px;
}
.cardbox{
    margin: 20px;
    padding: 5px;
    background-color: #F3F7DF;
    margin-top: 3px;
    margin-bottom: 3px;
}
.head-topic h4{
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
}
.head-topic a{
  text-align: center;
}
.project-topic{
  font-family: 'Quantico', sans-serif;
}
.head-topic p{
  line-height: 1.8em;
}
.section-box{
  margin-top: 20px;
}
.row-box{
  background-color: #C08485;
  border-radius: 5px;
}
.text-box{
  margin-left:10px;
}

.button-link {
  background-color: #009688;
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button-link:hover {opacity: 1}

.row-form{
  margin: 15px;
}
.llogin {
  margin-top:3%;
  margin-right:0px;
}
#footer-navbar{
  overflow: hidden;
  background-color: #FEDCD2;
  position: relative;
  
}
.box-text-big{
  padding: 0px 50px 15px 50px;
  margin: 50px 0px 0px 0px;
}

.title-thai{
    font-size: 20px;
}