<div id="navbar">
    <b><p class="title-name"><i class="fas fa-box-open"></i> Lost&Found</p></b>
    <% if logged_in? %>
        <%= link_to "Logout" , logout_path, :method => :delete %>
        <%= link_to "About" , about_path %>
        <%= link_to "Profile", current_user %>
        <%= link_to "Edit inform" , '#' %>
        <%= link_to "Inform" , inform_path %>
    <% else %>
        <%= link_to "Login" , login_path %>
        <%= link_to "About" , about_path %>
    <% end %>
    <%= link_to "Found Items" , found_path %>
    <%= link_to "Lost Items" , root_path %> 
</div>
<div class="about-header about-header-image project-topic">
</div>

